In [1]:
import pandas as pd
import pyodbc
import logging
import json # For potentially better string representation of results

logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

SERVER_NAME = 'localhost'  # Hoặc tên máy chủ/IP của bạn
DB_NAME = 'text_to_sql_final'    # Tên cơ sở dữ liệu của bạn
USER_NAME = 'sa'           # Tên người dùng của bạn
PASSWORD_VAL = '123456'    # Mật khẩu của bạn

CSV_FILE_PATH = 'Golden_v2.csv' # Đường dẫn đến tệp question.csv của bạn
SQL_QUERY_COLUMN_NAME = 'SQL'

print("Các thư viện đã được import và cấu hình đã được thiết lập.")

Các thư viện đã được import và cấu hình đã được thiết lập.

In [2]:
# Ô 3: Hàm Kết nối Cơ sở dữ liệu

def get_db_connection():
    """Thiết lập kết nối đến cơ sở dữ liệu SQL Server."""
    conn_str = (
        f"DRIVER={{ODBC Driver 17 for SQL Server}};" # Hoặc trình điều khiển ODBC phù hợp
        f"SERVER={SERVER_NAME};"
        f"DATABASE={DB_NAME};"
        f"UID={USER_NAME};"
        f"PWD={PASSWORD_VAL};"
        f"TrustServerCertificate=yes;" # Quan trọng cho kết nối cục bộ/dev
    )
    try:
        conn = pyodbc.connect(conn_str)
        logging.info(f"Đã kết nối thành công đến SQL Server: {SERVER_NAME}, Cơ sở dữ liệu: {DB_NAME}")
        return conn
    except pyodbc.Error as ex:
        sqlstate = ex.args[0]
        logging.error(f"Lỗi kết nối cơ sở dữ liệu: {sqlstate} - {ex}")
        if '08001' in sqlstate: # Client unable to establish connection
            logging.error("Lỗi này có thể do: SQL Server chưa chạy, sai tên máy chủ/IP, tường lửa chặn kết nối, hoặc TCP/IP chưa được kích hoạt trên SQL Server.")
            print(f"Không thể kết nối đến máy chủ '{SERVER_NAME}'. Vui lòng kiểm tra lại thông tin và đảm bảo SQL Server đang chạy.")
        elif '28000' in sqlstate: # Invalid authorization specification
            logging.error("Tên người dùng hoặc mật khẩu không hợp lệ.")
            print("Tên đăng nhập hoặc mật khẩu không chính xác.")
        elif '42000' in sqlstate and "Cannot open database" in str(ex):
             logging.error(f"Không thể mở cơ sở dữ liệu '{DB_NAME}'. Kiểm tra lại tên cơ sở dữ liệu.")
             print(f"Không thể mở cơ sở dữ liệu '{DB_NAME}'. Vui lòng kiểm tra lại tên.")
        elif 'IM002' in sqlstate or '01000' in sqlstate: # Data source name not found and no default driver specified
            logging.error("Không tìm thấy ODBC Driver. Hãy đảm bảo 'ODBC Driver 17 for SQL Server' (hoặc trình điều khiển cụ thể của bạn) đã được cài đặt.")
            print("Lỗi ODBC Driver: Không tìm thấy trình điều khiển. Vui lòng cài đặt trình điều khiển ODBC cho SQL Server.")
        else:
            print(f"Lỗi kết nối cơ sở dữ liệu: {ex}")
        return None

print("Hàm get_db_connection() đã được định nghĩa.")

Hàm get_db_connection() đã được định nghĩa.

In [3]:
# Ô 4: Hàm Thực thi Câu lệnh SQL

def execute_sql_query(query_str, conn):
    """Thực thi một câu lệnh SQL và trả về kết quả hoặc thông báo lỗi."""
    if not conn:
        return "Lỗi: Không có kết nối cơ sở dữ liệu."

    cursor = None
    try:
        cursor = conn.cursor()
        logging.info(f"Đang thực thi câu lệnh: {query_str[:200]}...")

        is_select_like_query = query_str.strip().upper().startswith(('SELECT', 'WITH', 'EXEC', 'EXECUTE', 'SHOW'))

        cursor.execute(query_str)

        if is_select_like_query and cursor.description:
            try:
                rows = cursor.fetchall()
                if rows:
                    column_names = [column[0] for column in cursor.description]
                    result_data = [dict(zip(column_names, row)) for row in rows]
                    
                    # --- THAY ĐỔI ---
                    # Thêm `indent=4` để định dạng JSON đầu ra cho dễ đọc.
                    result_str = json.dumps(result_data, ensure_ascii=False, default=str, indent=4)
                else:
                    result_str = "[]"
                logging.info(f"Câu lệnh trả về {len(rows) if rows else 0} dòng.")
            except pyodbc.ProgrammingError as pe:
                logging.warning(f"Lỗi ProgrammingError khi lấy kết quả cho câu lệnh '{query_str[:50]}...': {pe}.")
                if hasattr(cursor, 'rowcount') and cursor.rowcount != -1:
                    result_str = f"{cursor.rowcount} dòng bị ảnh hưởng."
                else:
                    result_str = "Câu lệnh đã thực thi, không có tập kết quả."
            conn.commit()
            return result_str
        else:
            rowcount = cursor.rowcount
            conn.commit()
            logging.info(f"Câu lệnh đã thực thi. Số dòng bị ảnh hưởng: {rowcount}")
            return f"{rowcount} dòng bị ảnh hưởng."

    except pyodbc.Error as e:
        error_message = f"Lỗi SQL: {e}"
        logging.error(error_message + f" cho câu lệnh: {query_str}")
        try:
            conn.rollback()
        except pyodbc.Error as r_err:
            logging.error(f"Rollback thất bại: {r_err}")
        return error_message
    finally:
        if cursor:
            cursor.close()

print("Hàm execute_sql_query() đã được định nghĩa với định dạng JSON cải tiến.")

Hàm execute_sql_query() đã được định nghĩa với định dạng JSON cải tiến.

In [4]:
# Ô 5: Hàm Logic Xử lý Chính

def process_queries_and_update_csv():
    """
    Đọc tệp CSV, thực thi các câu lệnh SQL, và cập nhật tệp CSV với kết quả.
    """
    try:
        df = pd.read_csv(CSV_FILE_PATH)
        logging.info(f"Đã đọc thành công tệp {CSV_FILE_PATH}. Tìm thấy {len(df)} câu lệnh.")
    except FileNotFoundError:
        logging.error(f"Lỗi: Không tìm thấy tệp {CSV_FILE_PATH}.")
        print(f"Lỗi: Không tìm thấy tệp {CSV_FILE_PATH}. Vui lòng đảm bảo tệp nằm trong thư mục chính xác.")
        return
    except Exception as e:
        logging.error(f"Lỗi khi đọc tệp CSV {CSV_FILE_PATH}: {e}")
        print(f"Lỗi khi đọc tệp CSV {CSV_FILE_PATH}: {e}")
        return

    if SQL_QUERY_COLUMN_NAME not in df.columns:
        logging.error(f"Lỗi: Không tìm thấy cột '{SQL_QUERY_COLUMN_NAME}' trong {CSV_FILE_PATH}.")
        print(f"Lỗi: Không tìm thấy cột '{SQL_QUERY_COLUMN_NAME}' trong {CSV_FILE_PATH}. Vui lòng kiểm tra lại tên cột.")
        return

    if df.empty:
        logging.info(f"Tệp {CSV_FILE_PATH} trống. Không có câu lệnh nào để xử lý.")
        print(f"Tệp {CSV_FILE_PATH} trống. Không có câu lệnh nào để xử lý.")
        df['Result'] = []
        try:
            df.to_csv(CSV_FILE_PATH, index=False, encoding='utf-8-sig')
            logging.info(f"Đã thêm cột 'Result' vào tệp {CSV_FILE_PATH} trống.")
        except Exception as e:
            logging.error(f"Lỗi khi ghi vào tệp CSV {CSV_FILE_PATH}: {e}")
            print(f"Lỗi khi ghi vào tệp CSV {CSV_FILE_PATH}: {e}")
        return

    conn = get_db_connection()
    if not conn:
        logging.warning("Không thể thiết lập kết nối cơ sở dữ liệu. Các câu lệnh sẽ không được thực thi.")
        print("Không thể kết nối đến cơ sở dữ liệu. Vui lòng kiểm tra thông tin kết nối và cài đặt ODBC driver.")
        df['Result'] = "Lỗi: Kết nối cơ sở dữ liệu thất bại."
        try:
            df.to_csv(CSV_FILE_PATH, index=False, encoding='utf-8-sig')
            logging.info(f"Đã cập nhật {CSV_FILE_PATH} với trạng thái lỗi kết nối.")
            print(f"Đã cập nhật {CSV_FILE_PATH} với trạng thái lỗi kết nối cho tất cả các câu lệnh.")
        except Exception as e:
            logging.error(f"Lỗi khi ghi vào tệp CSV {CSV_FILE_PATH}: {e}")
            print(f"Lỗi khi ghi vào tệp CSV {CSV_FILE_PATH}: {e}")
        return

    results = []
    print(f"Bắt đầu xử lý {len(df)} câu lệnh SQL...")
    for index, row in df.iterrows():
        query = row[SQL_QUERY_COLUMN_NAME]
        if pd.isna(query) or not str(query).strip():
            logging.warning(f"Bỏ qua câu lệnh rỗng hoặc NaN ở dòng {index}.")
            results.append("Bỏ qua: Câu lệnh rỗng")
            continue
        
        print(f"Đang thực thi câu lệnh {index + 1}/{len(df)}: {str(query)[:100]}...")
        query_result = execute_sql_query(str(query), conn)
        results.append(query_result)

    if conn:
        conn.close()
        logging.info("Đã đóng kết nối cơ sở dữ liệu.")

    df['Result'] = results

    try:
        df.to_csv(CSV_FILE_PATH, index=False, encoding='utf-8-sig')
        logging.info(f"Đã cập nhật thành công tệp {CSV_FILE_PATH} với kết quả câu lệnh.")
        print(f"\nXử lý hoàn tất! Tệp '{CSV_FILE_PATH}' đã được cập nhật với cột 'result'.")
    except Exception as e:
        logging.error(f"Lỗi khi ghi DataFrame đã cập nhật vào CSV: {e}")
        print(f"Lỗi khi ghi kết quả vào tệp {CSV_FILE_PATH}: {e}")

print("Hàm process_queries_and_update_csv() đã được định nghĩa.")

Hàm process_queries_and_update_csv() đã được định nghĩa.

In [5]:
# Ô 6: Gọi hàm để thực thi

print("Bắt đầu quá trình xử lý câu lệnh SQL từ tệp CSV...")
process_queries_and_update_csv()
print("Kịch bản đã hoàn thành.")

2025-06-12 17:42:12,853 - INFO - Đã đọc thành công tệp Golden_v2.csv. Tìm thấy 86 câu lệnh.

Bắt đầu quá trình xử lý câu lệnh SQL từ tệp CSV...

2025-06-12 17:42:12,988 - INFO - Đã kết nối thành công đến SQL Server: localhost, Cơ sở dữ liệu: text_to_sql_final
2025-06-12 17:42:12,989 - INFO - Đang thực thi câu lệnh: SELECT
  COUNT(T1.status)
FROM Attendance AS T1
INNER JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.enrollment_id
INNER JOIN ClassCourse AS T3
  ON T2.class_course_id = T3.class_course_id
INNER JO...
2025-06-12 17:42:13,001 - INFO - Câu lệnh trả về 1 dòng.

Bắt đầu xử lý 86 câu lệnh SQL...
Đang thực thi câu lệnh 1/86: SELECT
  COUNT(T1.status)
FROM Attendance AS T1
INNER JOIN Enrollments AS T2
  ON T1.enrollment_id =...

2025-06-12 17:42:13,004 - INFO - Đang thực thi câu lệnh: SELECT
  COUNT(T1.status)
FROM Attendance AS T1
JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.enrollment_id
JOIN ClassCourse AS T3
  ON T2.class_course_id = T3.class_course_id
JOIN Courses AS T4
 ...
2025-06-12 17:42:13,012 - INFO - Câu lệnh trả về 1 dòng.
2025-06-12 17:42:13,014 - INFO - Đang thực thi câu lệnh: SELECT
    COUNT(DISTINCT T1.student_id)
FROM Enrollments AS T1
JOIN ClassCourse AS T2
    ON T1.class_course_id = T2.class_course_id
WHERE
    T2.semester = 'SU24'...
2025-06-12 17:42:13,021 - INFO - Câu lệnh trả về 1 dòng.
2025-06-12 17:42:13,023 - INFO - Đang thực thi câu lệnh: SELECT
    C.course_id,
    C.course_name,
    COUNT(CASE WHEN E.status = 'Passed' THEN 1 END) AS passed_count,
    COUNT(CASE WHEN E.status = 'Failed' THEN 1 END) AS failed_count
FROM Enrollments AS ...
2025-06-12 17:42:13,035 - INFO - Câu lệnh trả về 4 dòng.

Đang thực thi câu lệnh 2/86: SELECT
  COUNT(T1.status)
FROM Attendance AS T1
JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.en...
Đang thực thi câu lệnh 3/86: SELECT
    COUNT(DISTINCT T1.student_id)
FROM Enrollments AS T1
JOIN ClassCourse AS T2
    ON T1.cla...
Đang thực thi câu lệnh 4/86: SELECT
    C.course_id,
    C.course_name,
    COUNT(CASE WHEN E.status = 'Passed' THEN 1 END) AS pa...

2025-06-12 17:42:13,036 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  COUNT(CASE WHEN E.status = 'Passed' THEN 1 END) AS pass_count,
  COUNT(CASE WHEN E.status = 'Failed' THEN 1 END) AS fail_count
FROM Courses AS C
JOIN ClassCourse AS CC
  ON C...
2025-06-12 17:42:13,046 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,047 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  COUNT(CASE WHEN E.status = 'Passed' THEN 1 END) AS pass_count,
  COUNT(CASE WHEN E.status = 'Failed' THEN 1 END) AS fail_count
FROM Courses AS C
JOIN ClassCourse AS CC
  ON C...
2025-06-12 17:42:13,051 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,052 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  S.start_time
FROM Attendance AS A
JOIN Enrollments AS E
  ON A.enrollment_id = E.enrollment_id
JOIN Schedules AS S
  ON A.schedule_id = S.schedule_id
JOIN ClassCourse AS CC
 ...
2025-06-12 17:42:13,063 - INFO - Câu lệnh trả về 5 dòng.
2025-06-12 17:42:13,063 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  E.status,
  COUNT(E.student_id) AS number_of_students
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
  ON CC.cours...
2025-06-12 17:42:13,072 - INFO - Câu lệnh trả về 8 dòng.
2025-06-12 17:42:13,073 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  AVG(E.average) AS average_grade,
  COUNT(E.student_id) AS number_of_students
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Cou...
2025-06-12 17:42:13,082 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,083 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
  ON CC.course_id = C.course_id
WHERE
  E.student_id = 'H...
2025-06-12 17:42:13,090 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,091 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  COUNT(A.status) AS number_of_absences
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
  ON CC.course_id = C.course_...
2025-06-12 17:42:13,101 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,102 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  SUM(CASE WHEN E.status = 'Passed' THEN 1 ELSE 0 END) AS passed_count,
  SUM(CASE WHEN E.status = 'Failed' THEN 1 ELSE 0 END) AS failed_count
FROM Courses AS C
LEFT JOIN Class...
2025-06-12 17:42:13,112 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,113 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  Cl.class_name,
  COUNT(E.student_id) AS number_of_students
FROM ClassCourse AS CC
JOIN Courses AS C
  ON CC.course_id = C.course_id
JOIN Classes AS Cl
  ON CC.class_id = Cl.c...
2025-06-12 17:42:13,121 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,122 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
    C.course_name,
    AVG(E.average) AS average_grade
FROM Enrollments AS E
JOIN ClassCourse AS CC
    ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
    ON CC.cou...
2025-06-12 17:42:13,128 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,129 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
    C.course_name,
    AVG(E.average) AS average_grade
FROM Enrollments AS E
JOIN ClassCourse AS CC
    ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
    ON CC.cou...
2025-06-12 17:42:13,130 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,131 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
  C.course_name,
  COUNT(E.enrollment_id) AS number_of_failures
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
  ON C...
2025-06-12 17:42:13,137 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,138 - INFO - Đang thực thi câu lệnh: SELECT
    D.dep_name,
    COUNT(L.lecturer_id) AS number_of_lecturers
FROM
    Departments AS D
JOIN
    Lecturers AS L ON D.dep_id = L.dep_id
GROUP BY
    D.dep_name...
2025-06-12 17:42:13,144 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,145 - INFO - Đang thực thi câu lệnh: SELECT
  D.dep_name,
  COUNT(L.lecturer_id) AS number_of_lecturers
FROM Departments AS D
JOIN Lecturers AS L
  ON D.dep_id = L.dep_id
GROUP BY
  D.dep_name...
2025-06-12 17:42:13,150 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,151 - INFO - Đang thực thi câu lệnh: SELECT
    D.dep_name,
    COUNT(L.lecturer_id) AS number_of_lecturers
FROM
    Departments AS D
JOIN
    Lecturers AS L ON D.dep_id = L.dep_id
GROUP BY
    D.dep_id, D.dep_name
ORDER BY
    number_of...
2025-06-12 17:42:13,157 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,157 - INFO - Đang thực thi câu lệnh: SELECT
    D.dep_name,
    COUNT(L.lecturer_id) AS number_of_lecturers
FROM Departments AS D
LEFT JOIN Lecturers AS L
    ON D.dep_id = L.dep_id
GROUP BY
    D.dep_name
ORDER BY
    number_of_lecturer...
2025-06-12 17:42:13,163 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,164 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  D.dep_name
FROM Lecturers AS L
JOIN Users AS U
  ON L.lecturer_id = U.user_id
JOIN Departments AS D
  ON L.dep_id = D.dep_id...
2025-06-12 17:42:13,168 - INFO - Câu lệnh trả về 10 dòng.

Đang thực thi câu lệnh 5/86: SELECT
  C.course_name,
  COUNT(CASE WHEN E.status = 'Passed' THEN 1 END) AS pass_count,
  COUNT(CAS...
Đang thực thi câu lệnh 6/86: SELECT
  C.course_name,
  COUNT(CASE WHEN E.status = 'Passed' THEN 1 END) AS pass_count,
  COUNT(CAS...
Đang thực thi câu lệnh 7/86: SELECT
  C.course_name,
  S.start_time
FROM Attendance AS A
JOIN Enrollments AS E
  ON A.enrollment_...
Đang thực thi câu lệnh 8/86: SELECT
  C.course_name,
  E.status,
  COUNT(E.student_id) AS number_of_students
FROM Enrollments AS ...
Đang thực thi câu lệnh 9/86: SELECT
  C.course_name,
  AVG(E.average) AS average_grade,
  COUNT(E.student_id) AS number_of_studen...
Đang thực thi câu lệnh 10/86: SELECT
  C.course_name,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course...
Đang thực thi câu lệnh 11/86: SELECT
  C.course_name,
  COUNT(A.status) AS number_of_absences
FROM Enrollments AS E
JOIN ClassCour...
Đang thực thi câu lệnh 12/86: SELECT
  C.course_name,
  SUM(CASE WHEN E.status = 'Passed' THEN 1 ELSE 0 END) AS passed_count,
  SU...
Đang thực thi câu lệnh 13/86: SELECT
  C.course_name,
  Cl.class_name,
  COUNT(E.student_id) AS number_of_students
FROM ClassCours...
Đang thực thi câu lệnh 14/86: SELECT TOP 3 WITH TIES
    C.course_name,
    AVG(E.average) AS average_grade
FROM Enrollments AS E
...
Đang thực thi câu lệnh 15/86: SELECT TOP 3 WITH TIES
    C.course_name,
    AVG(E.average) AS average_grade
FROM Enrollments AS E
...
Đang thực thi câu lệnh 16/86: SELECT TOP 3 WITH TIES
  C.course_name,
  COUNT(E.enrollment_id) AS number_of_failures
FROM Enrollme...
Đang thực thi câu lệnh 17/86: SELECT
    D.dep_name,
    COUNT(L.lecturer_id) AS number_of_lecturers
FROM
    Departments AS D
JOI...
Đang thực thi câu lệnh 18/86: SELECT
  D.dep_name,
  COUNT(L.lecturer_id) AS number_of_lecturers
FROM Departments AS D
JOIN Lectur...
Đang thực thi câu lệnh 19/86: SELECT
    D.dep_name,
    COUNT(L.lecturer_id) AS number_of_lecturers
FROM
    Departments AS D
JOI...
Đang thực thi câu lệnh 20/86: SELECT
    D.dep_name,
    COUNT(L.lecturer_id) AS number_of_lecturers
FROM Departments AS D
LEFT JO...
Đang thực thi câu lệnh 21/86: SELECT
  U.fullname,
  D.dep_name
FROM Lecturers AS L
JOIN Users AS U
  ON L.lecturer_id = U.user_id...

2025-06-12 17:42:13,169 - INFO - Đang thực thi câu lệnh: SELECT TOP 1 WITH TIES
  U.fullname,
  COUNT(CC.class_course_id) AS class_count
FROM ClassCourse AS CC
JOIN Lecturers AS L
  ON CC.lecturer_id = L.lecturer_id
JOIN Users AS U
  ON L.lecturer_id = U.us...
2025-06-12 17:42:13,170 - ERROR - Lỗi SQL: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The TOP N WITH TIES clause is not allowed without a corresponding ORDER BY clause. (1062) (SQLExecDirectW)') cho câu lệnh: SELECT TOP 1 WITH TIES
  U.fullname,
  COUNT(CC.class_course_id) AS class_count
FROM ClassCourse AS CC
JOIN Lecturers AS L
  ON CC.lecturer_id = L.lecturer_id
JOIN Users AS U
  ON L.lecturer_id = U.user_id
WHERE
  CC.semester = 'SU24'
GROUP BY
  U.fullname
2025-06-12 17:42:13,171 - INFO - Đang thực thi câu lệnh: SELECT
    U.fullname,
    COUNT(CC.course_id) AS course_count
FROM Lecturers AS L
JOIN Users AS U
    ON L.lecturer_id = U.user_id
JOIN ClassCourse AS CC
    ON L.lecturer_id = CC.lecturer_id
WHERE
 ...
2025-06-12 17:42:13,178 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,179 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  C.course_name,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Users AS U
  ON E.student_id = U.user_id
JOIN Courses AS...
2025-06-12 17:42:13,186 - INFO - Câu lệnh trả về 2 dòng.

Đang thực thi câu lệnh 22/86: SELECT TOP 1 WITH TIES
  U.fullname,
  COUNT(CC.class_course_id) AS class_count
FROM ClassCourse AS ...
Đang thực thi câu lệnh 23/86: SELECT
    U.fullname,
    COUNT(CC.course_id) AS course_count
FROM Lecturers AS L
JOIN Users AS U
 ...
Đang thực thi câu lệnh 24/86: SELECT
  U.fullname,
  C.course_name,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON ...

2025-06-12 17:42:13,187 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
  U.fullname,
  M.major_name,
  AVG(E.average) AS overall_average_grade
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Users AS U
  ON S.student_...
2025-06-12 17:42:13,202 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,203 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
    U.fullname,
    AVG(E.average) AS overall_average_grade
FROM Enrollments AS E
JOIN Students AS S
    ON E.student_id = S.student_id
JOIN Users AS U
    ON S.student_id = U.u...
2025-06-12 17:42:13,213 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,214 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
  U.fullname,
  S.student_id,
  AVG(E.average) AS overall_average_grade
FROM Students AS S
JOIN Users AS U
  ON S.student_id = U.user_id
JOIN Enrollments AS E
  ON S.student_id ...
2025-06-12 17:42:13,224 - INFO - Câu lệnh trả về 4 dòng.

Đang thực thi câu lệnh 25/86: SELECT TOP 3 WITH TIES
  U.fullname,
  M.major_name,
  AVG(E.average) AS overall_average_grade
FROM ...
Đang thực thi câu lệnh 26/86: SELECT TOP 3 WITH TIES
    U.fullname,
    AVG(E.average) AS overall_average_grade
FROM Enrollments ...
Đang thực thi câu lệnh 27/86: SELECT TOP 3 WITH TIES
  U.fullname,
  S.student_id,
  AVG(E.average) AS overall_average_grade
FROM ...

2025-06-12 17:42:13,227 - INFO - Đang thực thi câu lệnh: SELECT
    U.fullname,
    COUNT(CC.course_id) AS course_count
FROM Lecturers AS L
JOIN Users AS U
    ON L.lecturer_id = U.user_id
JOIN ClassCourse AS CC
    ON L.lecturer_id = CC.lecturer_id
GROUP B...
2025-06-12 17:42:13,233 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,235 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  COUNT(CC.class_course_id) AS class_count
FROM ClassCourse AS CC
JOIN Lecturers AS L
  ON CC.lecturer_id = L.lecturer_id
JOIN Users AS U
  ON L.lecturer_id = U.user_id
WHERE
  CC...
2025-06-12 17:42:13,243 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,245 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  COUNT(CC.class_course_id) AS class_count
FROM ClassCourse AS CC
JOIN Users AS U
  ON CC.lecturer_id = U.user_id
WHERE
  CC.semester = 'SU24'
GROUP BY
  U.user_id,
  U.fullname
O...
2025-06-12 17:42:13,255 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,256 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
  U.fullname,
  COUNT(CC.class_course_id) AS course_count
FROM ClassCourse AS CC
JOIN Lecturers AS L
  ON CC.lecturer_id = L.lecturer_id
JOIN Users AS U
  ON L.lecturer_id = U.u...
2025-06-12 17:42:13,262 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,263 - INFO - Đang thực thi câu lệnh: SELECT
    U.fullname,
    D.dep_name,
    COUNT(CC.class_course_id) AS number_of_classes_assigned
FROM Lecturers AS L
JOIN Users AS U
    ON L.lecturer_id = U.user_id
JOIN Departments AS D
    ON L.d...
2025-06-12 17:42:13,273 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,274 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  D.dep_name,
  COUNT(CC.class_course_id) AS number_of_classes
FROM Lecturers AS L
JOIN Users AS U
  ON L.lecturer_id = U.user_id
JOIN Departments AS D
  ON L.dep_id = D.dep_id
LE...
2025-06-12 17:42:13,284 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,285 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  D.dep_name,
  COUNT(CC.class_course_id) AS number_of_classes
FROM ClassCourse AS CC
JOIN Lecturers AS L
  ON CC.lecturer_id = L.lecturer_id
JOIN Users AS U
  ON L.lecturer_id = ...
2025-06-12 17:42:13,294 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,295 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  COUNT(CC.class_course_id) AS number_of_classes
FROM Users AS U
JOIN Lecturers AS L
  ON U.user_id = L.lecturer_id
JOIN ClassCourse AS CC
  ON L.lecturer_id = CC.lecturer_id
WHER...
2025-06-12 17:42:13,302 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,304 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Users AS U
  ON S.stu...
2025-06-12 17:42:13,316 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,318 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  S.student_id,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Users AS U
  ON S.student_id = U.user_id
JOIN ClassCourse AS CC
  ON E.c...
2025-06-12 17:42:13,333 - INFO - Câu lệnh trả về 1 dòng.
2025-06-12 17:42:13,335 - INFO - Đang thực thi câu lệnh: SELECT
    U.fullname,
    E.average
FROM
    Enrollments AS E
JOIN
    Users AS U ON E.student_id = U.user_id
JOIN
    ClassCourse AS CC ON E.class_course_id = CC.class_course_id
WHERE
    CC.lecture...
2025-06-12 17:42:13,343 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,344 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Users AS U
  ON S.student_id = U.user_id
JOIN ClassCourse AS CC
  ON E.class_course_id =...
2025-06-12 17:42:13,353 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,354 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  S.student_id,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
  ON CC.course_id = C.course_id
JOIN Student...

Đang thực thi câu lệnh 28/86: SELECT
    U.fullname,
    COUNT(CC.course_id) AS course_count
FROM Lecturers AS L
JOIN Users AS U
 ...
Đang thực thi câu lệnh 29/86: SELECT
  U.fullname,
  COUNT(CC.class_course_id) AS class_count
FROM ClassCourse AS CC
JOIN Lecturer...
Đang thực thi câu lệnh 30/86: SELECT
  U.fullname,
  COUNT(CC.class_course_id) AS class_count
FROM ClassCourse AS CC
JOIN Users AS...
Đang thực thi câu lệnh 31/86: SELECT TOP 3 WITH TIES
  U.fullname,
  COUNT(CC.class_course_id) AS course_count
FROM ClassCourse AS...
Đang thực thi câu lệnh 32/86: SELECT
    U.fullname,
    D.dep_name,
    COUNT(CC.class_course_id) AS number_of_classes_assigned
F...
Đang thực thi câu lệnh 33/86: SELECT
  U.fullname,
  D.dep_name,
  COUNT(CC.class_course_id) AS number_of_classes
FROM Lecturers A...
Đang thực thi câu lệnh 34/86: SELECT
  U.fullname,
  D.dep_name,
  COUNT(CC.class_course_id) AS number_of_classes
FROM ClassCourse...
Đang thực thi câu lệnh 35/86: SELECT
  U.fullname,
  COUNT(CC.class_course_id) AS number_of_classes
FROM Users AS U
JOIN Lecturers...
Đang thực thi câu lệnh 36/86: SELECT
  U.fullname,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id...
Đang thực thi câu lệnh 37/86: SELECT
  U.fullname,
  S.student_id,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.stu...
Đang thực thi câu lệnh 38/86: SELECT
    U.fullname,
    E.average
FROM
    Enrollments AS E
JOIN
    Users AS U ON E.student_id =...
Đang thực thi câu lệnh 39/86: SELECT
  U.fullname,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.stud...
Đang thực thi câu lệnh 40/86: SELECT
  U.fullname,
  S.student_id,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E...

2025-06-12 17:42:13,365 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,367 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  S.student_id,
  C.course_name,
  E.average
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Students AS S
  ON E.student_id = S.stud...
2025-06-12 17:42:13,378 - INFO - Câu lệnh trả về 2 dòng.

Đang thực thi câu lệnh 41/86: SELECT
  U.fullname,
  S.student_id,
  C.course_name,
  E.average
FROM Enrollments AS E
JOIN ClassCo...

2025-06-12 17:42:13,380 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  S.student_id,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Users AS U
  ON S.student_id = U.user_id
JOIN ClassCourse AS CC
  ON E.c...
2025-06-12 17:42:13,390 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,392 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  COUNT(E.enrollment_id) AS failed_courses_count
FROM Enrollments AS E
JOIN Users AS U
  ON E.student_id = U.user_id
WHERE
  E.status = 'Failed'
GROUP BY
  U.user_id,
  U.fullname...
2025-06-12 17:42:13,402 - INFO - Câu lệnh trả về 2 dòng.

Đang thực thi câu lệnh 42/86: SELECT
  U.fullname,
  S.student_id,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.stu...
Đang thực thi câu lệnh 43/86: SELECT
  U.fullname,
  COUNT(E.enrollment_id) AS failed_courses_count
FROM Enrollments AS E
JOIN Use...

2025-06-12 17:42:13,403 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  E.student_id,
  COUNT(E.enrollment_id) AS number_of_failed_courses
FROM Enrollments AS E
JOIN Users AS U
  ON E.student_id = U.user_id
WHERE
  E.status = 'Failed'
GROUP BY
  U.f...
2025-06-12 17:42:13,411 - INFO - Câu lệnh trả về 14 dòng.
2025-06-12 17:42:13,412 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T1.grade_value
FROM StudentGradeDetails AS T1
JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.enrollment_id
JOIN CourseGrade AS T3
  ON T1.course_grade_id = T3.course_grade...
2025-06-12 17:42:13,423 - INFO - Câu lệnh trả về 6 dòng.
2025-06-12 17:42:13,424 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T1.grade_value
FROM StudentGradeDetails AS T1
JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.enrollment_id
JOIN CourseGrade AS T3
  ON T1.course_grade_id = T3.course_grade...
2025-06-12 17:42:13,426 - INFO - Câu lệnh trả về 6 dòng.
2025-06-12 17:42:13,427 - INFO - Đang thực thi câu lệnh: SELECT
    T4.grade_name,
    T1.grade_value,
    T1.comment
FROM StudentGradeDetails AS T1
INNER JOIN Enrollments AS T2
    ON T1.enrollment_id = T2.enrollment_id
INNER JOIN ClassCourse AS T3
    ON ...
2025-06-12 17:42:13,437 - INFO - Câu lệnh trả về 6 dòng.
2025-06-12 17:42:13,439 - INFO - Đang thực thi câu lệnh: SELECT
    T3.grade_name,
    T1.grade_value
FROM StudentGradeDetails AS T1
JOIN Enrollments AS T2
    ON T1.enrollment_id = T2.enrollment_id
JOIN CourseGrade AS T3
    ON T1.course_grade_id = T3.cour...
2025-06-12 17:42:13,451 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,452 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T2.grade_value
FROM Enrollments AS T1
INNER JOIN StudentGradeDetails AS T2
  ON T1.enrollment_id = T2.enrollment_id
INNER JOIN CourseGrade AS T3
  ON T2.course_grade_id = T3....
2025-06-12 17:42:13,462 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,463 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T1.grade_value,
  T1.comment
FROM StudentGradeDetails AS T1
INNER JOIN CourseGrade AS T3
  ON T1.course_grade_id = T3.course_grade_id
INNER JOIN Enrollments AS T2
  ON T1.enr...
2025-06-12 17:42:13,473 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,475 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T1.grade_value,
  T1.comment
FROM StudentGradeDetails AS T1
INNER JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.enrollment_id
INNER JOIN CourseGrade AS T3
  ON T1.course_...
2025-06-12 17:42:13,485 - INFO - Câu lệnh trả về 7 dòng.
2025-06-12 17:42:13,486 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T1.grade_value,
  T3.grade_weight,
  T1.comment
FROM StudentGradeDetails AS T1
JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.enrollment_id
JOIN CourseGrade AS T3
  ON T1....
2025-06-12 17:42:13,496 - INFO - Câu lệnh trả về 7 dòng.
2025-06-12 17:42:13,497 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T3.grade_weight
FROM Enrollments AS T1
JOIN ClassCourse AS T2
  ON T1.class_course_id = T2.class_course_id
JOIN CourseGrade AS T3
  ON T2.course_id = T3.course_id
JOIN Course...
2025-06-12 17:42:13,506 - INFO - Câu lệnh trả về 7 dòng.
2025-06-12 17:42:13,507 - INFO - Đang thực thi câu lệnh: SELECT
  T3.grade_name,
  T3.grade_weight,
  T2.grade_value,
  T2.comment
FROM Enrollments AS T1
JOIN StudentGradeDetails AS T2
  ON T1.enrollment_id = T2.enrollment_id
JOIN CourseGrade AS T3
  ON T2....
2025-06-12 17:42:13,516 - INFO - Câu lệnh trả về 7 dòng.
2025-06-12 17:42:13,517 - INFO - Đang thực thi câu lệnh: SELECT
    CG.grade_name,
    CG.grade_weight,
    SGD.grade_value
FROM
    Enrollments AS E
JOIN
    StudentGradeDetails AS SGD ON E.enrollment_id = SGD.enrollment_id
JOIN
    CourseGrade AS CG ON SG...
2025-06-12 17:42:13,527 - INFO - Câu lệnh trả về 6 dòng.
2025-06-12 17:42:13,528 - INFO - Đang thực thi câu lệnh: SELECT
    T3.grade_name,
    T3.grade_weight,
    T2.grade_value
FROM Enrollments AS T1
JOIN StudentGradeDetails AS T2
    ON T1.enrollment_id = T2.enrollment_id
JOIN CourseGrade AS T3
    ON T2.cour...
2025-06-12 17:42:13,538 - INFO - Câu lệnh trả về 6 dòng.
2025-06-12 17:42:13,539 - INFO - Đang thực thi câu lệnh: SELECT
    CG.grade_name
FROM Enrollments AS E
JOIN ClassCourse AS CC
    ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
    ON CC.course_id = C.course_id
JOIN StudentGradeDetails AS SGD
...
2025-06-12 17:42:13,549 - INFO - Câu lệnh trả về 4 dòng.

Đang thực thi câu lệnh 44/86: SELECT
  U.fullname,
  E.student_id,
  COUNT(E.enrollment_id) AS number_of_failed_courses
FROM Enrol...
Đang thực thi câu lệnh 45/86: SELECT
  T3.grade_name,
  T1.grade_value
FROM StudentGradeDetails AS T1
JOIN Enrollments AS T2
  ON ...
Đang thực thi câu lệnh 46/86: SELECT
  T3.grade_name,
  T1.grade_value
FROM StudentGradeDetails AS T1
JOIN Enrollments AS T2
  ON ...
Đang thực thi câu lệnh 47/86: SELECT
    T4.grade_name,
    T1.grade_value,
    T1.comment
FROM StudentGradeDetails AS T1
INNER JO...
Đang thực thi câu lệnh 48/86: SELECT
    T3.grade_name,
    T1.grade_value
FROM StudentGradeDetails AS T1
JOIN Enrollments AS T2
 ...
Đang thực thi câu lệnh 49/86: SELECT
  T3.grade_name,
  T2.grade_value
FROM Enrollments AS T1
INNER JOIN StudentGradeDetails AS T2...
Đang thực thi câu lệnh 50/86: SELECT
  T3.grade_name,
  T1.grade_value,
  T1.comment
FROM StudentGradeDetails AS T1
INNER JOIN Cou...
Đang thực thi câu lệnh 51/86: SELECT
  T3.grade_name,
  T1.grade_value,
  T1.comment
FROM StudentGradeDetails AS T1
INNER JOIN Enr...
Đang thực thi câu lệnh 52/86: SELECT
  T3.grade_name,
  T1.grade_value,
  T3.grade_weight,
  T1.comment
FROM StudentGradeDetails A...
Đang thực thi câu lệnh 53/86: SELECT
  T3.grade_name,
  T3.grade_weight
FROM Enrollments AS T1
JOIN ClassCourse AS T2
  ON T1.clas...
Đang thực thi câu lệnh 54/86: SELECT
  T3.grade_name,
  T3.grade_weight,
  T2.grade_value,
  T2.comment
FROM Enrollments AS T1
JOI...
Đang thực thi câu lệnh 55/86: SELECT
    CG.grade_name,
    CG.grade_weight,
    SGD.grade_value
FROM
    Enrollments AS E
JOIN
  ...
Đang thực thi câu lệnh 56/86: SELECT
    T3.grade_name,
    T3.grade_weight,
    T2.grade_value
FROM Enrollments AS T1
JOIN Studen...
Đang thực thi câu lệnh 57/86: SELECT
    CG.grade_name
FROM Enrollments AS E
JOIN ClassCourse AS CC
    ON E.class_course_id = CC....

2025-06-12 17:42:13,551 - INFO - Đang thực thi câu lệnh: SELECT
    L.lecturer_id,
    U.fullname
FROM Lecturers AS L
JOIN Users AS U
    ON L.lecturer_id = U.user_id
JOIN Departments AS D
    ON L.dep_id = D.dep_id
WHERE
    D.dep_name = 'Artificial Intell...
2025-06-12 17:42:13,555 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,556 - INFO - Đang thực thi câu lệnh: SELECT
    L.lecturer_id,
    U.fullname,
    D.dep_name
FROM Lecturers AS L
JOIN Users AS U
    ON L.lecturer_id = U.user_id
JOIN Departments AS D
    ON L.dep_id = D.dep_id...
2025-06-12 17:42:13,561 - INFO - Câu lệnh trả về 10 dòng.

Đang thực thi câu lệnh 58/86: SELECT
    L.lecturer_id,
    U.fullname
FROM Lecturers AS L
JOIN Users AS U
    ON L.lecturer_id = ...
Đang thực thi câu lệnh 59/86: SELECT
    L.lecturer_id,
    U.fullname,
    D.dep_name
FROM Lecturers AS L
JOIN Users AS U
    ON ...

2025-06-12 17:42:13,563 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    AVG(E.average) AS average_final_grade
FROM Majors AS M
JOIN Students AS S
    ON M.major_id = S.major_id
JOIN Enrollments AS E
    ON S.student_id = E.student_id
WHERE
  ...
2025-06-12 17:42:13,570 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,571 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    AVG(E.average) AS average_final_grade
FROM Majors AS M
JOIN Students AS S
    ON M.major_id = S.major_id
JOIN Enrollments AS E
    ON S.student_id = E.student_id
WHERE
  ...
2025-06-12 17:42:13,573 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,574 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS M
    ON S.major_id = M.major_id
GROUP BY
    M.major_name;...
2025-06-12 17:42:13,581 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,582 - INFO - Đang thực thi câu lệnh: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS M
  ON S.major_id = M.major_id
GROUP BY
  M.major_name...
2025-06-12 17:42:13,588 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,589 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS M
    ON S.major_id = M.major_id
GROUP BY
    M.major_name
ORDER BY
    number_of_students DESC...
2025-06-12 17:42:13,595 - INFO - Câu lệnh trả về 4 dòng.

Đang thực thi câu lệnh 60/86: SELECT
    M.major_name,
    AVG(E.average) AS average_final_grade
FROM Majors AS M
JOIN Students AS...
Đang thực thi câu lệnh 61/86: SELECT
    M.major_name,
    AVG(E.average) AS average_final_grade
FROM Majors AS M
JOIN Students AS...
Đang thực thi câu lệnh 62/86: SELECT
    M.major_name,
    COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Major...
Đang thực thi câu lệnh 63/86: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS...
Đang thực thi câu lệnh 64/86: SELECT
    M.major_name,
    COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Major...

2025-06-12 17:42:13,597 - INFO - Đang thực thi câu lệnh: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS M
  ON S.major_id = M.major_id
GROUP BY
  M.major_name
ORDER BY
  number_of_students ASC;...
2025-06-12 17:42:13,602 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,603 - INFO - Đang thực thi câu lệnh: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS M
  ON S.major_id = M.major_id
GROUP BY
  M.major_name
ORDER BY
  number_of_students ASC;...
2025-06-12 17:42:13,604 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,605 - INFO - Đang thực thi câu lệnh: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Majors AS M
JOIN Students AS S
  ON M.major_id = S.major_id
GROUP BY
  M.major_name
ORDER BY
  number_of_students DESC;...
2025-06-12 17:42:13,612 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,613 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS M
    ON S.major_id = M.major_id
GROUP BY
    M.major_name
ORDER BY
    number_of_students DESC...
2025-06-12 17:42:13,615 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,616 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  COUNT(CC.course_id) AS number_of_courses
FROM Users AS U
JOIN Lecturers AS L
  ON U.user_id = L.lecturer_id
JOIN ClassCourse AS CC
  ON L.lecturer_id = CC.lecturer_id
WHERE
  CC...
2025-06-12 17:42:13,623 - INFO - Câu lệnh trả về 0 dòng.
2025-06-12 17:42:13,625 - INFO - Đang thực thi câu lệnh: SELECT
  M.major_name,
  COUNT(S.student_id) AS student_count
FROM Majors AS M
JOIN Students AS S
  ON M.major_id = S.major_id
GROUP BY
  M.major_name...
2025-06-12 17:42:13,630 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,632 - INFO - Đang thực thi câu lệnh: SELECT
  M.major_name,
  AVG(E.average) AS average_final_grade
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Majors AS M
  ON S.major_id = M.major_id
WHERE
  E.status ...
2025-06-12 17:42:13,640 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,642 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    AVG(E.average) AS average_grade
FROM Enrollments AS E
JOIN Students AS S
    ON E.student_id = S.student_id
JOIN Majors AS M
    ON S.major_id = M.major_id
JOIN ClassCours...
2025-06-12 17:42:13,652 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,653 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    AVG(E.average) AS average_grade
FROM
    Majors AS M
JOIN
    Students AS S ON M.major_id = S.major_id
JOIN
    Enrollments AS E ON S.student_id = E.student_id
WHERE
    E...
2025-06-12 17:42:13,661 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,662 - INFO - Đang thực thi câu lệnh: SELECT
    M.major_name,
    COUNT(DISTINCT S.student_id) AS number_of_students,
    AVG(E.average) AS average_grade
FROM Majors AS M
JOIN Students AS S
    ON M.major_id = S.major_id
JOIN Enrollments...
2025-06-12 17:42:13,674 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,675 - INFO - Đang thực thi câu lệnh: SELECT
  S.start_time,
  A.status
FROM Attendance AS A
JOIN Enrollments AS E
  ON A.enrollment_id = E.enrollment_id
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
JOIN Courses AS C...
2025-06-12 17:42:13,686 - INFO - Câu lệnh trả về 10 dòng.
2025-06-12 17:42:13,687 - INFO - Đang thực thi câu lệnh: SELECT
  T3.start_time
FROM Attendance AS T1
INNER JOIN Enrollments AS T2
  ON T1.enrollment_id = T2.enrollment_id
INNER JOIN Schedules AS T3
  ON T1.schedule_id = T3.schedule_id
INNER JOIN ClassCours...
2025-06-12 17:42:13,697 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,698 - INFO - Đang thực thi câu lệnh: SELECT
    S.start_time
FROM
    Attendance AS A
JOIN Enrollments AS E
    ON A.enrollment_id = E.enrollment_id
JOIN ClassCourse AS CC
    ON E.class_course_id = CC.class_course_id
JOIN Courses AS C
 ...
2025-06-12 17:42:13,707 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,709 - INFO - Đang thực thi câu lệnh: SELECT
  E.status,
  COUNT(E.student_id) AS number_of_students
FROM Enrollments AS E
JOIN ClassCourse AS CC
  ON E.class_course_id = CC.class_course_id
WHERE
  CC.lecturer_id = 'LEC001'
  AND CC.cours...
2025-06-12 17:42:13,716 - INFO - Câu lệnh trả về 2 dòng.
2025-06-12 17:42:13,718 - INFO - Đang thực thi câu lệnh: SELECT
  S.student_id,
  U.fullname,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Users AS U
  ON S.student_id = U.user_id
JOIN ClassCourse AS CC
  ON E.c...
2025-06-12 17:42:13,729 - INFO - Câu lệnh trả về 1 dòng.
2025-06-12 17:42:13,730 - INFO - Đang thực thi câu lệnh: SELECT
  U.user_id AS student_id,
  U.fullname
FROM ClassCourse AS CC
JOIN Courses AS C
  ON CC.course_id = C.course_id
JOIN Enrollments AS E
  ON CC.class_course_id = E.class_course_id
JOIN Users AS ...

Đang thực thi câu lệnh 65/86: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS...
Đang thực thi câu lệnh 66/86: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Majors AS...
Đang thực thi câu lệnh 67/86: SELECT
  M.major_name,
  COUNT(S.student_id) AS number_of_students
FROM Majors AS M
JOIN Students AS...
Đang thực thi câu lệnh 68/86: SELECT
    M.major_name,
    COUNT(S.student_id) AS number_of_students
FROM Students AS S
JOIN Major...
Đang thực thi câu lệnh 69/86: SELECT
  U.fullname,
  COUNT(CC.course_id) AS number_of_courses
FROM Users AS U
JOIN Lecturers AS L
...
Đang thực thi câu lệnh 70/86: SELECT
  M.major_name,
  COUNT(S.student_id) AS student_count
FROM Majors AS M
JOIN Students AS S
  ...
Đang thực thi câu lệnh 71/86: SELECT
  M.major_name,
  AVG(E.average) AS average_final_grade
FROM Enrollments AS E
JOIN Students A...
Đang thực thi câu lệnh 72/86: SELECT
    M.major_name,
    AVG(E.average) AS average_grade
FROM Enrollments AS E
JOIN Students AS ...
Đang thực thi câu lệnh 73/86: SELECT
    M.major_name,
    AVG(E.average) AS average_grade
FROM
    Majors AS M
JOIN
    Students ...
Đang thực thi câu lệnh 74/86: SELECT
    M.major_name,
    COUNT(DISTINCT S.student_id) AS number_of_students,
    AVG(E.average) ...
Đang thực thi câu lệnh 75/86: SELECT
  S.start_time,
  A.status
FROM Attendance AS A
JOIN Enrollments AS E
  ON A.enrollment_id = ...
Đang thực thi câu lệnh 76/86: SELECT
  T3.start_time
FROM Attendance AS T1
INNER JOIN Enrollments AS T2
  ON T1.enrollment_id = T2...
Đang thực thi câu lệnh 77/86: SELECT
    S.start_time
FROM
    Attendance AS A
JOIN Enrollments AS E
    ON A.enrollment_id = E.en...
Đang thực thi câu lệnh 78/86: SELECT
  E.status,
  COUNT(E.student_id) AS number_of_students
FROM Enrollments AS E
JOIN ClassCours...
Đang thực thi câu lệnh 79/86: SELECT
  S.student_id,
  U.fullname,
  E.average
FROM Enrollments AS E
JOIN Students AS S
  ON E.stu...
Đang thực thi câu lệnh 80/86: SELECT
  U.user_id AS student_id,
  U.fullname
FROM ClassCourse AS CC
JOIN Courses AS C
  ON CC.cour...

2025-06-12 17:42:13,738 - INFO - Câu lệnh trả về 8 dòng.
2025-06-12 17:42:13,739 - INFO - Đang thực thi câu lệnh: SELECT
  C.course_name,
  SUM(CASE WHEN E.status = 'Passed' THEN 1 ELSE 0 END) AS pass_count,
  SUM(CASE WHEN E.status = 'Failed' THEN 1 ELSE 0 END) AS fail_count
FROM Enrollments AS E
JOIN ClassCours...
2025-06-12 17:42:13,750 - INFO - Câu lệnh trả về 4 dòng.

Đang thực thi câu lệnh 81/86: SELECT
  C.course_name,
  SUM(CASE WHEN E.status = 'Passed' THEN 1 ELSE 0 END) AS pass_count,
  SUM(...

2025-06-12 17:42:13,752 - INFO - Đang thực thi câu lệnh: SELECT
    C.course_name,
    SUM(CASE WHEN E.status = 'Passed' THEN 1 ELSE 0 END) AS passed_count,
    SUM(CASE WHEN E.status = 'Failed' THEN 1 ELSE 0 END) AS failed_count
FROM Enrollments AS E
JOIN ...
2025-06-12 17:42:13,763 - INFO - Câu lệnh trả về 4 dòng.
2025-06-12 17:42:13,764 - INFO - Đang thực thi câu lệnh: SELECT TOP 3 WITH TIES
    C.course_name,
    CAST(SUM(CASE WHEN E.status = 'Failed' THEN 1 ELSE 0 END) AS FLOAT)
        * 100.0 / COUNT(E.enrollment_id) AS failure_rate
FROM
    Enrollments AS E
J...
2025-06-12 17:42:13,774 - INFO - Câu lệnh trả về 3 dòng.
2025-06-12 17:42:13,776 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  M.major_name,
  COUNT(E.enrollment_id) AS number_of_failed_courses
FROM Enrollments AS E
JOIN Students AS S
  ON E.student_id = S.student_id
JOIN Users AS U
  ON S.student_id = ...
2025-06-12 17:42:13,787 - INFO - Câu lệnh trả về 2 dòng.

Đang thực thi câu lệnh 82/86: SELECT
    C.course_name,
    SUM(CASE WHEN E.status = 'Passed' THEN 1 ELSE 0 END) AS passed_count,
...
Đang thực thi câu lệnh 83/86: SELECT TOP 3 WITH TIES
    C.course_name,
    CAST(SUM(CASE WHEN E.status = 'Failed' THEN 1 ELSE 0 E...
Đang thực thi câu lệnh 84/86: SELECT
  U.fullname,
  M.major_name,
  COUNT(E.enrollment_id) AS number_of_failed_courses
FROM Enrol...

2025-06-12 17:42:13,789 - INFO - Đang thực thi câu lệnh: SELECT
    T3.grade_name,
    T1.grade_value,
    T1.comment
FROM StudentGradeDetails AS T1
INNER JOIN Enrollments AS T2
    ON T1.enrollment_id = T2.enrollment_id
...ER JOIN CourseGrade AS T3
2025-06-12 17:42:13,798 - INFO - Câu lệnh trả về 7 dòng.
2025-06-12 17:42:13,799 - INFO - Đang thực thi câu lệnh: SELECT
  U.fullname,
  COUNT(CC.course_id) AS number_of_courses
FROM Users AS U
JOIN Lecturers AS L
  ON U.user_id = L.lecturer_id
JOIN ClassCourse AS CC
  ON L.lecturer_id = CC.lecturer_id
WHERE
  CC...
2025-06-12 17:42:13,806 - INFO - Câu lệnh trả về 6 dòng.
2025-06-12 17:42:13,807 - INFO - Đã đóng kết nối cơ sở dữ liệu.
2025-06-12 17:42:13,816 - INFO - Đã cập nhật thành công tệp Golden_v2.csv với kết quả câu lệnh.

Đang thực thi câu lệnh 85/86: SELECT
    T3.grade_name,
    T1.grade_value,
    T1.comment
FROM StudentGradeDetails AS T1
INN...
Đang thực thi câu lệnh 86/86: SELECT
  U.fullname,
  COUNT(CC.course_id) AS number_of_courses
FROM Users AS U
JOIN Lecturers AS L
...

Xử lý hoàn tất! Tệp 'Golden_v2.csv' đã được cập nhật với cột 'result'.
Kịch bản đã hoàn thành.