In [ ]:
import pandas as pd
import google.generativeai as genai
import pyodbc
import json
import time
from collections import deque
import re
import datetime 
import os

In [ ]:
# DANH SÁCH API KEYS CHO GEMINI
# Thay thế bằng các API key thực tế của bạn
GEMINI_API_KEYS = [
    os.environ.get('GOOGLE_API_KEY')
]

# Giới hạn tỷ lệ cho mỗi API key
API_RATE_LIMIT_PER_MINUTE = 100
API_KEY_COOLDOWN_SECONDS = 70 # 1 phút

# Cấu trúc để theo dõi việc sử dụng API key
api_key_usage = {key: {"count": 0, "last_reset_time": time.time()} for key in GEMINI_API_KEYS}
current_api_key_index = 0 # Bắt đầu với API key đầu tiên

# Cấu hình kết nối MS SQL Server
DB_SERVER = 'localhost'
DB_NAME = 'text_to_sql'
username = 'sa'
password = '123456'
DB_CONN_STRING = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={DB_SERVER};DATABASE={DB_NAME};UID={username};PWD={password}'

# Tên file input, output và schema
INPUT_CSV_FILE = 'question.csv'
OUTPUT_CSV_FILE = 'result.csv'
SCHEMA_FILE = 'm-schema.txt'

In [ ]:
def json_date_converter(obj):
    """Chuyển đổi đối tượng datetime/date thành chuỗi ISO format cho JSON."""
    if isinstance(obj, (datetime.date, datetime.datetime)):
        return obj.isoformat()
    raise TypeError(f"Object of type {obj.__class__.__name__} is not JSON serializable")

In [ ]:
def get_next_available_api_key():
    global current_api_key_index
    global api_key_usage
    start_index = current_api_key_index
    while True:
        api_key = GEMINI_API_KEYS[current_api_key_index]
        usage_stats = api_key_usage[api_key]
        current_time = time.time()
        if current_time - usage_stats["last_reset_time"] > API_KEY_COOLDOWN_SECONDS:
            usage_stats["count"] = 0
            usage_stats["last_reset_time"] = current_time
        if usage_stats["count"] < API_RATE_LIMIT_PER_MINUTE:
            usage_stats["count"] += 1
            genai.configure(api_key=api_key)
            return api_key
        current_api_key_index = (current_api_key_index + 1) % len(GEMINI_API_KEYS)
        if current_api_key_index == start_index:
            wait_times = [(usage_stats["last_reset_time"] + API_KEY_COOLDOWN_SECONDS + 1) - current_time
                          for key_str, usage_stats in api_key_usage.items()]
            positive_wait_times = [wt for wt in wait_times if wt > 0]
            if not positive_wait_times: 
                 min_wait_time = 0.5 
            else:
                 min_wait_time = min(positive_wait_times)
            if min_wait_time > 0:
                 print(f"Waiting for {min_wait_time:.2f} seconds...")
                 time.sleep(min_wait_time)
            continue
    return None

def extract_sql_from_markdown(markdown_text):
    match = re.search(r"```(?:sql)?\s*(.*?)\s*```", markdown_text, re.DOTALL | re.IGNORECASE)
    if match:
        return match.group(1).strip()
    lines = markdown_text.strip().split('\n')
    if len(lines) == 1 and lines[0].strip().lower().startswith("select"):
        return lines[0].strip()
    for line in reversed(lines):
        cleaned_line = line.strip()
        if cleaned_line.lower().startswith("select"):
            idx = lines.index(line)
            potential_multiline_sql = "\n".join(lines[idx:]).strip()
            if potential_multiline_sql.count("SELECT") == 1 or potential_multiline_sql.count("select") == 1 :
                 return potential_multiline_sql
            return cleaned_line 
    return None

def generate_sql_with_divide_conquer_cot(question, condition_json, db_schema):
    active_api_key = get_next_available_api_key()
    if not active_api_key:
        return "Error: No available API key."
    model = genai.GenerativeModel('gemini-2.0-flash') 
    prompt = f"""
    You are an expert Text-to-SQL system using the Divide and Conquer Chain-of-Thought (CoT) method.
    Your goal is to convert a natural language question into an MS SQL Server query.
    Database Schema:
    ---
    {db_schema}
    ---
    User Context/Condition (JSON format, use this to filter data if applicable):
    ---
    {condition_json}
    ---
    Question: {question}
    Follow these steps strictly for Divide and Conquer CoT:
    **1. Divide and Conquer:**
    *   **Main Question:** Identify the main goal of the question.
    *   **Analysis (Main Question):** Briefly analyze the main question. What information is being requested? Which tables/columns might be involved based on the schema and question?
    *   **Pseudo SQL (Main Question):** Write a high-level pseudo SQL for the main question, indicating where sub-queries or complex logic will go.
    *   **Sub-question 1 (if any):** Break down the main question into the first logical sub-problem.
    *   **Analysis (Sub-question 1):** Analyze this sub-problem.
    *   **Pseudo SQL (Sub-question 1):** Write pseudo SQL for this sub-problem.
    *   **(Repeat for other sub-questions, e.g., Sub-question 1.1, Sub-question 2, etc. as needed for complex queries)**
    **2. Assembling SQL:**
    *   **SQL (Sub-question 1.1, then Sub-question 1, etc.):** Translate the pseudo SQL for the innermost sub-question into actual MS SQL Server SQL. Then, use this to build up the SQL for the next level of sub-questions.
    *   **SQL (Main Question):** Combine the SQL parts to form the complete SQL for the main question, using subqueries or JOINs as determined in the divide phase.
    **3. Simplification and Optimization (Optional but good):**
    *   Review the assembled SQL. Can any nested queries be simplified (e.g., using JOINs instead of complex subqueries)? Is the filtering applied correctly based on the User Context/Condition?
    **Final Optimized MS SQL Server Query:**
    (Provide ONLY the final, executable MS SQL Server query here. No other text, no explanations before or after the query. Ensure the query is a single SQL statement without markdown formatting.)
    """
    try:
        response = model.generate_content(prompt)
        raw_llm_output = response.text.strip()
        print(f"Raw LLM output: \n---\n{raw_llm_output}\n---") 
        generated_sql = extract_sql_from_markdown(raw_llm_output)
        if generated_sql:
            return generated_sql
        else:
            print(f"Cảnh báo: Không thể trích xuất SQL từ output của LLM. Output:\n{raw_llm_output}")
            return "Error: Could not parse SQL from LLM response."
    except Exception as e:
        print(f"Lỗi khi gọi Gemini API với key ...{active_api_key[-4:]}: {e}")
        if "rate limit" in str(e).lower() or "quota" in str(e).lower() or "429" in str(e):
            api_key_usage[active_api_key]["count"] = API_RATE_LIMIT_PER_MINUTE
            print(f"Rate limit có thể đã bị đạt sớm cho key ...{active_api_key[-4:]}.")
        return f"Error generating SQL: {e}"

def get_database_schema_from_file(filepath):
    try:
        with open(filepath, 'r', encoding='utf-8') as f:
            schema_str = f.read()
        return schema_str.strip()
    except FileNotFoundError:
        print(f"Lỗi: Không tìm thấy file schema '{filepath}'.")
        return "Error: Schema file not found. Please create it or check the path."
    except Exception as e:
        print(f"Lỗi khi đọc file schema: {e}")
        return f"Error reading schema file: {e}"

def execute_sql_query(sql_query):
    results = []
    error_message = None
    if not sql_query or \
       "error" in sql_query.lower() or \
       not isinstance(sql_query, str) or \
       not sql_query.strip():
        return [], f"Invalid SQL query provided to execute_sql_query: '{sql_query}'"
    cleaned_sql_query = sql_query.replace("```sql", "").replace("```", "").strip()
    if not cleaned_sql_query.lower().startswith("select"):
         return [], f"Non-SELECT SQL query provided or malformed: '{cleaned_sql_query}'"

    try:
        conn = pyodbc.connect(DB_CONN_STRING)
        cursor = conn.cursor()
        print(f"Đang thực thi SQL: {cleaned_sql_query}")
        cursor.execute(cleaned_sql_query)

        if cursor.description is None:
            if cursor.rowcount != -1 :
                print(f"Truy vấn thực thi thành công, {cursor.rowcount} dòng bị ảnh hưởng.")
                results.append([f"QueryExecutedSuccessfully {cursor.rowcount} rows affected"])
            else:
                print("Truy vấn thực thi nhưng không có description và rowcount không xác định.")
                results.append(["QueryExecutionStatusUnknown"])
                error_message = "Query executed but status is unknown (no description, rowcount -1)"
            conn.close()
            return results, error_message

        columns = [column[0] for column in cursor.description]
        for row_values in cursor.fetchall():
            row_dict = dict(zip(columns, row_values))
            results.append(row_dict)

        conn.close()
    except pyodbc.Error as ex:
        sqlstate = ex.args[0]
        error_message = f"Lỗi MS SQL Server ({sqlstate}): {ex.args[1]} executing query: {cleaned_sql_query}"
        print(error_message)
    except Exception as e:
        error_message = f"Lỗi không xác định khi thực thi SQL '{cleaned_sql_query}': {e}"
        print(error_message)
    return results, error_message

In [ ]:
def main():
    print(f"Đang đọc schema cơ sở dữ liệu từ file '{SCHEMA_FILE}'...")
    db_schema_str = get_database_schema_from_file(SCHEMA_FILE)
    if "Error:" in db_schema_str:
        print(f"Không thể tiếp tục nếu không có schema: {db_schema_str}")
        return
    print("\nSchema cơ sở dữ liệu đã nạp:")
    print(db_schema_str)
    print("-" * 30)
    try:
        questions_df = pd.read_csv(INPUT_CSV_FILE)
    except FileNotFoundError:
        print(f"Lỗi: Không tìm thấy file '{INPUT_CSV_FILE}'. Vui lòng tạo file này.")
        return
    except Exception as e:
        print(f"Lỗi khi đọc file CSV: {e}")
        return
    results_log = []
    for index, row in questions_df.iterrows():
        question = row['Question']
        condition_str = str(row['Condition'])
        print(f"\nĐang xử lý câu hỏi {index + 1}: {question}")
        print(f"Điều kiện: {condition_str}")
        generated_sql = generate_sql_with_divide_conquer_cot(question, condition_str, db_schema_str)
        print(f"SQL đã xử lý: {generated_sql}") 
        if generated_sql and "Error:" not in generated_sql: 
            query_results, execution_error = execute_sql_query(generated_sql)
            if execution_error:
                results_log.append({
                    'Question': question,
                    'Condition': condition_str,
                    'GeneratedSQL': generated_sql,
                    'ExecutionResult': 'ERROR',
                    'ErrorMessage': execution_error,
                    'Result': "[]"
                })
            else:
                results_log.append({
                    'Question': question,
                    'Condition': condition_str,
                    'GeneratedSQL': generated_sql,
                    'ExecutionResult': 'SUCCESS',
                    'ErrorMessage': '',
                    'Result': json.dumps(query_results, default=json_date_converter, indent=2)
                })
        else: 
            results_log.append({
                'Question': question,
                'Condition': condition_str,
                'GeneratedSQL': generated_sql, 
                'ExecutionResult': 'GENERATION_ERROR',
                'ErrorMessage': generated_sql, 
                'Result': "[]"
            })
        print("-" * 30)
    output_df = pd.DataFrame(results_log)
    try:
        output_df.to_csv(OUTPUT_CSV_FILE, index=False, encoding='utf-8-sig')
        print(f"\nKết quả đã được lưu vào file '{OUTPUT_CSV_FILE}'")
    except Exception as e:
        print(f"Lỗi khi lưu file CSV kết quả: {e}")

if __name__ == '__main__':
    main()

Đang đọc schema cơ sở dữ liệu từ file 'm-schema.txt'...

Schema cơ sở dữ liệu đã nạp:
【DB_ID】 text_to_sql
【Schema】
# Table: Attendance
[
  (enrollment_id:VARCHAR, Primary Key, Foreign key referencing Enrollments table. Maps to Enrollments(enrollment_id)., Examples: ['HE001_AI01_AIL', 'HE001_AI01_MAE', 'HE001_AI01_NLP']),
  (schedule_id:VARCHAR, Primary Key, Foreign key referencing Schedules table. Maps to Schedules(schedule_id)., Examples: ['AI01_AIL_1', 'AI01_AIL_2', 'AI01_AIL_3']),
  (status:VARCHAR, Attendance status (e.g., Present, Absent)., Examples: ['Present', 'Future', 'Absent'])
]
【Foreign keys】
  Attendance.enrollment_id = Enrollments.enrollment_id
  Attendance.schedule_id = Schedules.schedule_id

# Table: ClassCourse
[
  (class_course_id:VARCHAR, Primary Key, Unique identifier for the class course., Examples: ['AI01_AIL', 'AI01_MAE', 'AI01_NLP']),
  (class_id:VARCHAR, Foreign key referencing Classes table. Maps to Classes(class_id)., Examples: ['AI01', 'IA01']),
  (course_id:VARCHAR, Foreign key referencing Courses table. Maps to Courses(course_id)., Examples: ['AIL', 'MAE', 'NLP']),
  (lecturer_id:VARCHAR, Foreign key referencing Lecturers table. Maps to Lecturers(lecturer_id)., Examples: ['LEC01', 'LEC04', 'LEC05']),
  (semester:VARCHAR, Semester of the class course (e.g., SP25, FA24)., Examples: ['SP25', 'FA24'])
]
【Foreign keys】
  ClassCourse.class_id = Classes.class_id
  ClassCourse.course_id = Courses.course_id
  ClassCourse.lecturer_id = Lecturers.lecturer_id

# Table: Classes
[
  (class_id:VARCHAR, Primary Key, Unique identifier for the class., Examples: ['AI01', 'IA01', 'IS01'])
]

# Table: CourseGrade
[
  (course_grade_id:VARCHAR, Primary Key, Unique identifier for the course grade., Examples: ['AIL_Assignment', 'AIL_Final_Exam', 'AIL_Lab_1']),
  (course_id:VARCHAR, Foreign key referencing Courses table. Maps to Courses(course_id)., Examples: ['AIL', 'CEA', 'CPV']),
  (grade_name:NVARCHAR, Name of the grade component (e.g., Assignment, Final Exam)., Examples: ['Assignment', 'Final Exam', 'Lab 1']),
  (grade_weight:FLOAT, Weight of the grade component in the overall course grade., Examples: [0.2, 0.3, 0.1])
]
【Foreign keys】
  CourseGrade.course_id = Courses.course_id

# Table: Courses
[
  (course_id:VARCHAR, Primary Key, Unique identifier for the course., Examples: ['AIL', 'CEA', 'CPV']),
  (course_name:NVARCHAR, Name of the course., Examples: ['Machine Learning', 'Computer Organization and Architecture', 'Computer Vision']),
  (no_credit:TINYINT, Number of credits for the course., Examples: [3]),
  (description:NVARCHAR, Description of the course., Examples: ['An introduction to machine learning algorithms and their applications in solving problems through data-driven insights and predictions.', 'Focuses on the internal structure of computers, including how hardware components interact and function together to execute software.', 'Covers the field of computer vision, focusing on techniques to enable computers to interpret and understand visual information from the world.'])
]

# Table: Curriculums
[
  (major_id:VARCHAR, Primary Key, Foreign key referencing Majors table. Maps to Majors(major_id)., Examples: ['AI', 'IA', 'IS']),
  (course_id:VARCHAR, Primary Key, Foreign key referencing Courses table. Maps to Courses(course_id)., Examples: ['AIL', 'CEA', 'CPV'])
]
【Foreign keys】
  Curriculums.major_id = Majors.major_id
  Curriculums.course_id = Courses.course_id

# Table: Departments
[
  (dep_id:VARCHAR, Primary Key, Unique identifier for the department., Examples: ['D01', 'D02', 'D03']),
  (dep_name:NVARCHAR, Name of the department., Examples: ['Computing Fundamental', 'Artificial Intelligence', 'Information Assurance'])
]

# Table: Enrollments
[
  (enrollment_id:VARCHAR, Primary Key, Unique identifier for the enrollment., Examples: ['HE001_AI01_AIL', 'HE001_AI01_MAE', 'HE001_AI01_NLP']),
  (student_id:VARCHAR, Foreign key referencing Students table. Maps to Students(student_id)., Examples: ['HE001', 'HE002', 'HE003']),
  (class_course_id:VARCHAR, Foreign key referencing ClassCourse table. Maps to ClassCourse(class_course_id)., Examples: ['AI01_AIL', 'AI01_MAE', 'AI01_NLP']),
  (average:FLOAT, Average grade for the enrollment., Examples: [0, 9.5, 3.96]),
  (status:VARCHAR, Enrollment status (e.g., Studying, Passed, Failed)., Examples: ['Studying', 'Passed', 'Failed'])
]
【Foreign keys】
  Enrollments.student_id = Students.student_id
  Enrollments.class_course_id = ClassCourse.class_course_id

# Table: Lecturers
[
  (lecturer_id:VARCHAR, Primary Key, Unique identifier for the lecturer, also a foreign key referencing Users table. Maps to Users(user_id)., Examples: ['LEC01', 'LEC02', 'LEC03']),
  (dep_id:VARCHAR, Foreign key referencing Departments table. Maps to Departments(dep_id)., Examples: ['D02', 'D04', 'D01'])
]
【Foreign keys】
  Lecturers.dep_id = Departments.dep_id
  Lecturers.lecturer_id = Users.user_id

# Table: Majors
[
  (major_id:VARCHAR, Primary Key, Unique identifier for the major., Examples: ['AI', 'IA', 'IS']),
  (major_name:NVARCHAR, Name of the major., Examples: ['Artificial Intelligence', 'Information Insurance', 'Information System'])
]

# Table: Permissions
[
  (permission_id:VARCHAR, Primary Key, Unique identifier for the permission., Examples: []),
  (permission_name:NVARCHAR, Name of the permission., Examples: [])
]

# Table: RolePermission
[
  (role_id:VARCHAR, Primary Key, Foreign key referencing Roles table. Maps to Roles(role_id)., Examples: []),
  (permission_id:VARCHAR, Primary Key, Foreign key referencing Permissions table. Maps to Permissions(permission_id)., Examples: [])
]
【Foreign keys】
  RolePermission.role_id = Roles.role_id
  RolePermission.permission_id = Permissions.permission_id

# Table: Roles
[
  (role_id:VARCHAR, Primary Key, Unique identifier for the role., Examples: ['R001', 'R002', 'R003']),
  (role_name:NVARCHAR, Name of the role., Examples: ['Training Manager', 'Lecturer', 'Student'])
]

# Table: Schedules
[
  (schedule_id:VARCHAR, Primary Key, Unique identifier for the schedule., Examples: ['AI01_AIL_1', 'AI01_AIL_2', 'AI01_AIL_3']),
  (class_course_id:VARCHAR, Foreign key referencing ClassCourse table. Maps to ClassCourse(class_course_id)., Examples: ['AI01_AIL', 'AI01_MAE', 'AI01_NLP']),
  (start_time:DATETIME, Start time of the schedule., Examples: ['2025-01-06 07:30:00', '2025-01-08 10:00:00', '2025-01-13 07:30:00']),
  (end_time:DATETIME, End time of the schedule., Examples: ['2025-01-06 09:50:00', '2025-01-08 12:20:00', '2025-01-13 09:50:00']),
  (room:NVARCHAR, Room where the schedule takes place., Examples: ['R001', 'R002', 'R003']),
  (slot:TINYINT, Slot number of the schedule., Examples: [1, 2, 3])
]
【Foreign keys】
  Schedules.class_course_id = ClassCourse.class_course_id

# Table: StudentGradeDetails
[
  (enrollment_id:VARCHAR, Primary Key, Foreign key referencing Enrollments table. Maps to Enrollments(enrollment_id)., Examples: ['HE001_AI01_AIL', 'HE001_AI01_MAE', 'HE001_AI01_NLP']),
  (course_grade_id:VARCHAR, Primary Key, Foreign key referencing CourseGrade table. Maps to CourseGrade(course_grade_id)., Examples: ['AIL_Lab_1', 'AIL_Lab_2', 'MAE_Assignment']),
  (grade_value:FLOAT, Grade value for the specific grade component., Examples: [9, 8, 9.2]),
  (comment:NVARCHAR, Comment about the grade (e.g., Grade Recorded)., Examples: ['Grade Recorded'])
]
【Foreign keys】
  StudentGradeDetails.enrollment_id = Enrollments.enrollment_id
  StudentGradeDetails.course_grade_id = CourseGrade.course_grade_id

# Table: Students
[
  (student_id:VARCHAR, Primary Key, Unique identifier for the student, also a foreign key referencing Users table. Maps to Users(user_id)., Examples: ['HE001', 'HE002', 'HE003']),
  (major_id:VARCHAR, Foreign key referencing Majors table. Maps to Majors(major_id)., Examples: ['AI', 'IS', 'IA']),
  (start_date:DATE, Start date of the student's program., Examples: ['2024-09-01']),
  (start_semester:VARCHAR, Starting semester (e.g., FA24)., Examples: ['FA24'])
]
【Foreign keys】
  Students.major_id = Majors.major_id
  Students.student_id = Users.user_id

# Table: UserRole
[
  (user_id:VARCHAR, Primary Key, Foreign key referencing Users table. Maps to Users(user_id)., Examples: ['HE001', 'HE002', 'HE003']),
  (role_id:VARCHAR, Primary Key, Foreign key referencing Roles table. Maps to Roles(role_id)., Examples: ['R003', 'R002'])
]
【Foreign keys】
  UserRole.user_id = Users.user_id
  UserRole.role_id = Roles.role_id

# Table: Users
[
  (username:VARCHAR, Primary Key, Username for login., Examples: ['giangdt', 'hailt', 'phuongvtm']),
  (password:VARCHAR, Password for login., Examples: ['123']),
  (user_id:VARCHAR, Unique identifier for the user., Examples: ['LEC01', 'LEC04', 'LEC05']),
  (fullname:NVARCHAR, Full name of the user., Examples: ['Giang', 'Hai', 'Phuong']),
  (user_gender:NVARCHAR, Gender of the user., Examples: ['male', 'female']),
  (user_dob:DATE, Date of birth of the user., Examples: ['1986-11-12', '1980-01-01', '1995-01-01']),
  (user_address:NVARCHAR, Address of the user., Examples: ['Hà Nội', 'Nghệ An', 'Bắc Ninh'])
]
------------------------------

Đang xử lý câu hỏi 1: What is my student ID?
Điều kiện: {"role": "Student", "identity": ["HE001"]}
Raw LLM output:
---
SELECT student_id FROM Students WHERE student_id = 'HE001'
---
SQL đã xử lý: SELECT student_id FROM Students WHERE student_id = 'HE001'
Đang thực thi SQL: SELECT student_id FROM Students WHERE student_id = 'HE001'
------------------------------

Đang xử lý câu hỏi 2: What is my major?
Điều kiện: {"role": "Student", "identity": ["HE001"]}
Raw LLM output:
---
```sql
SELECT major_name FROM Majors WHERE major_id = (SELECT major_id FROM Students WHERE student_id = 'HE001')
```
---
SQL đã xử lý: SELECT major_name FROM Majors WHERE major_id = (SELECT major_id FROM Students WHERE student_id = 'HE001')
Đang thực thi SQL: SELECT major_name FROM Majors WHERE major_id = (SELECT major_id FROM Students WHERE student_id = 'HE001')
------------------------------

Đang xử lý câu hỏi 3: When did I start studying at the school?
Điều kiện: {"role": "Student", "identity": ["HE001"]}
Raw LLM output:
---
SELECT start_date FROM Students WHERE student_id = 'HE001'
---
SQL đã xử lý: SELECT start_date FROM Students WHERE student_id = 'HE001'
Đang thực thi SQL: SELECT start_date FROM Students WHERE student_id = 'HE001'
------------------------------

Đang xử lý câu hỏi 4: What was the first semester I studied at the school?
Điều kiện: {"role": "Student", "identity": ["HE001"]}
Raw LLM output:
---
```sql
SELECT TOP 1 start_semester FROM Students WHERE student_id = 'HE001' ORDER BY start_date
```
---
SQL đã xử lý: SELECT TOP 1 start_semester FROM Students WHERE student_id = 'HE001' ORDER BY start_date
Đang thực thi SQL: SELECT TOP 1 start_semester FROM Students WHERE student_id = 'HE001' ORDER BY start_date
------------------------------

Đang xử lý câu hỏi 5: Find users with birthdays in January.
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
```sql
SELECT username, fullname, user_dob FROM Users WHERE MONTH(user_dob) = 1;
```
---
SQL đã xử lý: SELECT username, fullname, user_dob FROM Users WHERE MONTH(user_dob) = 1;
Đang thực thi SQL: SELECT username, fullname, user_dob FROM Users WHERE MONTH(user_dob) = 1;
------------------------------

Đang xử lý câu hỏi 6: Find students whose names start with 'Student'.
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
```sql
SELECT u.fullname
FROM Users u
JOIN UserRole ur ON u.user_id = ur.user_id
JOIN Roles r ON ur.role_id = r.role_id
WHERE r.role_name = 'Student'
  AND u.fullname LIKE 'Student%'
```
---
SQL đã xử lý: SELECT u.fullname
FROM Users u
JOIN UserRole ur ON u.user_id = ur.user_id
JOIN Roles r ON ur.role_id = r.role_id
WHERE r.role_name = 'Student'
  AND u.fullname LIKE 'Student%'
Đang thực thi SQL: SELECT u.fullname
FROM Users u
JOIN UserRole ur ON u.user_id = ur.user_id
JOIN Roles r ON ur.role_id = r.role_id
WHERE r.role_name = 'Student'
  AND u.fullname LIKE 'Student%'
------------------------------

Đang xử lý câu hỏi 7: How many female students are in the 'Software Engineering' major?
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
```sql
SELECT COUNT(*)
FROM Students
JOIN Majors ON Students.major_id = Majors.major_id
JOIN Users ON Students.student_id = Users.user_id
WHERE Majors.major_name = 'Software Engineering' AND Users.user_gender = 'female';
```
---
SQL đã xử lý: SELECT COUNT(*)
FROM Students
JOIN Majors ON Students.major_id = Majors.major_id
JOIN Users ON Students.student_id = Users.user_id
WHERE Majors.major_name = 'Software Engineering' AND Users.user_gender = 'female';
Đang thực thi SQL: SELECT COUNT(*)
FROM Students
JOIN Majors ON Students.major_id = Majors.major_id
JOIN Users ON Students.student_id = Users.user_id
WHERE Majors.major_name = 'Software Engineering' AND Users.user_gender = 'female';
------------------------------

Đang xử lý câu hỏi 8: Show the list of students in the 'Artificial Intelligence' major.
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
```sql
SELECT Students.student_id, Users.fullname
FROM Students
INNER JOIN Majors ON Students.major_id = Majors.major_id
INNER JOIN Users ON Students.student_id = Users.user_id
WHERE Majors.major_name = 'Artificial Intelligence';
```
---
SQL đã xử lý: SELECT Students.student_id, Users.fullname
FROM Students
INNER JOIN Majors ON Students.major_id = Majors.major_id
INNER JOIN Users ON Students.student_id = Users.user_id
WHERE Majors.major_name = 'Artificial Intelligence';
Đang thực thi SQL: SELECT Students.student_id, Users.fullname
FROM Students
INNER JOIN Majors ON Students.major_id = Majors.major_id
INNER JOIN Users ON Students.student_id = Users.user_id
WHERE Majors.major_name = 'Artificial Intelligence';
------------------------------

Đang xử lý câu hỏi 9: Show a list of students (ID and name) and their majors.
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
```sql
SELECT Students.student_id, Users.fullname, Majors.major_name
FROM Students
INNER JOIN Users ON Students.student_id = Users.user_id
INNER JOIN Majors ON Students.major_id = Majors.major_id;
```
---
SQL đã xử lý: SELECT Students.student_id, Users.fullname, Majors.major_name
FROM Students
INNER JOIN Users ON Students.student_id = Users.user_id
INNER JOIN Majors ON Students.major_id = Majors.major_id;
Đang thực thi SQL: SELECT Students.student_id, Users.fullname, Majors.major_name
FROM Students
INNER JOIN Users ON Students.student_id = Users.user_id
INNER JOIN Majors ON Students.major_id = Majors.major_id;
------------------------------

Đang xử lý câu hỏi 10: How many students are there in total at the school?
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
SELECT COUNT(*) FROM Students
---
SQL đã xử lý: SELECT COUNT(*) FROM Students
Đang thực thi SQL: SELECT COUNT(*) FROM Students
------------------------------

Đang xử lý câu hỏi 11: Which major has the fewest students?
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
SELECT TOP 1 major_name FROM Majors ORDER BY (SELECT COUNT(*) FROM Students WHERE major_id = Majors.major_id) ASC
---
SQL đã xử lý: SELECT TOP 1 major_name FROM Majors ORDER BY (SELECT COUNT(*) FROM Students WHERE major_id = Majors.major_id) ASC
Đang thực thi SQL: SELECT TOP 1 major_name FROM Majors ORDER BY (SELECT COUNT(*) FROM Students WHERE major_id = Majors.major_id) ASC
------------------------------

Đang xử lý câu hỏi 12: Find information for user ID HE011.
Điều kiện: {"role": "Admin", "identity": []}
Raw LLM output:
---
```sql
SELECT u.username, u.fullname, u.user_gender, u.user_dob, u.user_address
FROM Users u
WHERE u.user_id = 'HE011';
```
---
SQL đã xử lý: SELECT u.username, u.fullname, u.user_gender, u.user_dob, u.user_address
FROM Users u
WHERE u.user_id = 'HE011';
Đang thực thi SQL: SELECT u.username, u.fullname, u.user_gender, u.user_dob, u.user_address
FROM Users u
WHERE u.user_id = 'HE011';
------------------------------

Đang xử lý câu hỏi 13: List all students.
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
```sql
SELECT student_id, major_id, start_date, start_semester
FROM Students;
```
---
SQL đã xử lý: SELECT student_id, major_id, start_date, start_semester
FROM Students;
Đang thực thi SQL: SELECT student_id, major_id, start_date, start_semester
FROM Students;
------------------------------

Đang xử lý câu hỏi 14: List the names and IDs of all students.
Điều kiện: {"role": "Training Manager", "identity": []}
Raw LLM output:
---
SELECT student_id, fullname FROM Students JOIN Users ON Students.student_id = Users.user_id
---
SQL đã xử lý: SELECT student_id, fullname FROM Students JOIN Users ON Students.student_id = Users.user_id
Đang thực thi SQL: SELECT student_id, fullname FROM Students JOIN Users ON Students.student_id = Users.user_id
------------------------------

Đang xử lý câu hỏi 15: What is my role?
Điều kiện: {"role": "Student", "identity": ["HE001"]}
Raw LLM output:
---
```sql
SELECT r.role_name FROM UserRole ur JOIN Roles r ON ur.role_id = r.role_id WHERE ur.user_id = 'HE001';
```
---
SQL đã xử lý: SELECT r.role_name FROM UserRole ur JOIN Roles r ON ur.role_id = r.role_id WHERE ur.user_id = 'HE001';
Đang thực thi SQL: SELECT r.role_name FROM UserRole ur JOIN Roles r ON ur.role_id = r.role_id WHERE ur.user_id = 'HE001';
------------------------------

Đang xử lý câu hỏi 16: List all courses.
Điều kiện: {"role": "Student", "identity": []}
Raw LLM output:
---
SELECT course_id, course_name, no_credit, description FROM Courses
---
SQL đã xử lý: SELECT course_id, course_name, no_credit, description FROM Courses
Đang thực thi SQL: SELECT course_id, course_name, no_credit, description FROM Courses
------------------------------

Đang xử lý câu hỏi 17: Please tell me about the Mathematics for Engineering course.
Điều kiện: {"role": "Student", "identity": ["HE001"]}
Raw LLM output:
---
```sql
SELECT c.course_name, c.no_credit, c.description
FROM Courses c
JOIN Curriculums cu ON c.course_id = cu.course_id
JOIN Majors m ON cu.major_id = m.major_id
JOIN Students s ON s.major_id = m.major_id
WHERE s.student_id = 'HE001' AND c.course_name LIKE '%Mathematics for Engineering%'
```
---
SQL đã xử lý: SELECT c.course_name, c.no_credit, c.description
FROM Courses c
JOIN Curriculums cu ON c.course_id = cu.course_id
JOIN Majors m ON cu.major_id = m.major_id
JOIN Students s ON s.major_id = m.major_id
WHERE s.student_id = 'HE001' AND c.course_name LIKE '%Mathematics for Engineering%'
Đang thực thi SQL: SELECT c.course_name, c.no_credit, c.description
FROM Courses c
JOIN Curriculums cu ON c.course_id = cu.course_id
JOIN Majors m ON cu.major_id = m.major_id
JOIN Students s ON s.major_id = m.major_id
WHERE s.student_id = 'HE001' AND c.course_name LIKE '%Mathematics for Engineering%'
------------------------------

Đang xử lý câu hỏi 18: How many courses are offered?
Điều kiện: {"role": "Student", "identity": ["HE001"]}
Raw LLM output:
---
SELECT COUNT(DISTINCT course_id) FROM Courses
---
SQL đã xử lý: SELECT COUNT(DISTINCT course_id) FROM Courses
Đang thực thi SQL: SELECT COUNT(DISTINCT course_id) FROM Courses
------------------------------

Đang xử lý câu hỏi 19: Which courses have 3 credits?
Điều kiện: {"role": "Student", "identity": []}
Raw LLM output:
---
```sql
SELECT course_name
FROM Courses
WHERE no_credit = 3;
```
---
SQL đã xử lý: SELECT course_name
FROM Courses
WHERE no_credit = 3;
Đang thực thi SQL: SELECT course_name
FROM Courses
WHERE no_credit = 3;
------------------------------

Đang xử lý câu hỏi 20: What does the content of the Natural Language Processing course include?
Điều kiện: {"role": "Student", "identity": []}
Raw LLM output:
---
```sql
SELECT description FROM Courses WHERE course_id = (SELECT course_id FROM ClassCourse WHERE course_id = 'NLP')
```
---